<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>ODD - EVEN GAME</h1>
      <hr>
      <input type="text" [(ngModel)]="getCounter">
      <br><br>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">

      <app-game-controll (intervalEvent)="getNumber($event)"></app-game-controll>

      <div
        class="panel panel-default">
        <div class="panel-heading">Even</div>
        <div class="panel-body">
          <app-even *ngFor="let even of evenArray" [inputEvenCounter]="even" ></app-even>
        </div>
      </div>

      <div
        class="panel panel-default">
        <div class="panel-heading">Odd</div>
        <div class="panel-body">
          <app-odd *ngFor="let odd of oddArray" [inputOddCounter]="odd"></app-odd>
        </div>
      </div>

    </div>

  </div>

</div>
